*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html, body{
  width: 100%;
}
li{
  list-style: none;
}
a{
  text-decoration: none;
}
img{
  border: 0;
}
input, select{
  border: 0;
  outline: none;
}
.layout{
  width: 1200px;
  margin: 0 auto;
}
